<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
  <customHeaders>
   <add name="Access-Control-Allow-Origin" value="*" />
      <add name="Access-Control-Allow-Headers" value="*" />
  </customHeaders>
 </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".vtt" mimeType="text/vtt" />
            
        </staticContent>
        
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="test">
                    <add key="attendedstorage.com/videotest3.html" value="attendedstorage.com/videotest3" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
    </system.webServer>
</configuration>