<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".vtt" mimeType="text/vtt" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^attendedstorage\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://attendedstorage.com/{R:1}" />
                </rule>
                <rule name="LowerCaseRule1" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
                <rule name="RemoveTrailingSlashRule1" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
	 <rule name="extensionless" stopProcessing="true">
         	 <match url="(.*)\.html$" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
  	  </rule>
   	 <rule name="removeextension" enabled="true">
       	 <match url=".*" negate="false" />
         	 <conditions>
               	     <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    <add input="{URL}" pattern="\." negate="true" />
                 </conditions>
                 <action type="Rewrite" url="{R:0}.html" />
    </rule>
        </rules>
        </rewrite>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    </system.webServer>
    <location path="videotest2.html">
        <system.webServer>
            <httpRedirect enabled="false" destination="http://attendedstorage.com/about.html" exactDestination="false" childOnly="false" />
        </system.webServer>
    </location>
</configuration>
